* Estilos para la barra superior */
.navbar {
    position: fixed;
    width: 100%;
}

.navbar-brand {
    width: 100%;
    text-align: center;
}

/* Estilos para el cajón de navegación */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
    padding-right: 10px;
    margin-top: 56px;
}


.sidebar a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #343a40;
}

.sidebar a:hover {
    background-color: #007bff;
    color: white;
}


.sidebar button {
    padding: 8px;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    color: #343a40;
}

.sidebar button:hover {
    background-color: #007bff;
    width: 100%;
    color: white;
}

/* Estilos para la sección central */
.content {
    margin-left: 200px;
    padding: 20px;
}

/* Personaliza el estilo del Toast */
.toast-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
}
.toast {
    position: relative;
    background-color: #343a40; /* Color de fondo del Toast */
    color: #ffffff; /* Color del texto del Toast */
    max-width: 300px;
}

/* Ajuste adicional para evitar superposición en pantallas pequeñas */
@media (max-width: 768px) {
    .sidebar {
        margin-top: 0;
    }
    .content {
        margin-left: 0;
    }
}